.headerone {
    color: rgb(228, 10, 46);
    text-align: center;
    text-size-adjust: bold;
    font: size 60px;

}

.search-container {
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
}

.seacrh-bar {
    border: none;
    padding: 30px;
    flex: 1;
    border-radius: 15px 0px 0px 15px;
}

.search-button {
    padding: 10px 15px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
}

.search-button:hover {
    background-color: blue;
}